# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

Data belongs to different categories. It can be numeric, text, true/false, complex numbers, date, time etc. Data should be stored correctly for us to be able to do the desired operations on the data. If the data is stored incorrectly, for example numerical data is stored as text data, we can not do numerical or arithmetic operations on the data because the methods and the operations for a data depend largely on the type of data (object) being referred to.

There are various data types in Python. Listed below are the most prominently used ones:
1. Numeric - This is further divided into 
    (a.) Integer
    (b.) Float
    (c.) Complex
    
2. String

3. Boolean

## Numeric Data Type

As the name suggests, Numeric data type consists of numbers. These numbers can be whole numbers, decimal numbers or complex numbers.

Whole numbers are stored in Integer (Int) type.

Decimal numbers are stored in Float (Float64) type.

Complex numbers are stored in Complex type.

You will find Integer and Float type being used most of the times.

You can check the data type of an object using the type() command.

In [4]:
#Let's look at some examples.
integer=7

In [1]:
import os
os.getcwd()

'C:\\Users\\Dell'

In [5]:
type(integer)

int

In [6]:
float_1=8.97

In [7]:
type(float_1)

float

In [8]:
complex_1=7.80j
type(complex_1)

complex

In [12]:
cmplx=5j

In [13]:
cmplx*cmplx

(-25+0j)

In [16]:
# Your turn now. 
# Store 2, 1086M, 3.14567 into three different objects and check their data types.
a=2
b=1086j
c=3.14567
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'complex'>
<class 'float'>

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [21]:
# Printing your name
a='pikachu pradhan'
print(a)
type(a)

pikachu pradhan

str

In [ ]:
# Your turn to play around now.
#Save your name to an object and check its data type.

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [ ]:
# Let's check how many characters does your name contain.

In [20]:
len(a)

7

In [22]:
a.count(' ')

1

In [23]:
# Let's see if My_Name is all Caps or not. 
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.
a.isupper()

False

In [26]:
# Let's convert My_Name to all caps.
a=a.upper()
print(a)

PIKACHU PRADHAN

In [27]:
# Now the output of isupper() changes to True.
a.isupper()

True

In [28]:
a.islower()

False

In [29]:
a=a.lower()
print(a)

pikachu pradhan

In [30]:
a.islower()

True

In [31]:
# Your turn to try it now. 
# Write a sentence and store it into an object.
d='d rajesh'
print(d)

d rajesh

In [32]:
# Check the data type of the object you just created.
type(d)

str

In [33]:
# Check if it is all caps or not.
d.isupper()

False

In [34]:
# Challenge - Check if it is all lower case or not.
d.islower()

True

In [36]:
# Convert your object into all caps.

d.upper()

'D RAJESH'

In [37]:
# Challenge - Convert your object into all lower case.
d.lower()

'd rajesh'

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [39]:
# Let's look at examples.

x = True
y = False

In [40]:
type(x)

bool

In [41]:
type(y)

bool

In [42]:
# Your turn!
x=10
y=15
x<y

True

# Data Type Conversion

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [43]:
# Consider an object containing an integer.
string1=1
type(string1)

int

In [44]:
string1=str(string1)
type(string1)

str

In [45]:
# I want to use the value 1 as a text value. So let's convert it.
integer2='500'
type(integer2)

str

In [47]:
integer2=int(integer2)
type(integer2)

int

In [1]:
b=('gandu')
type(b)

str

In [2]:
q=int(b)
type(q)

ValueError: invalid literal for int() with base 10: 'gandu'

In [49]:
# Exercise for you. Store the number 123456 as string.
a='123456'
type(a)

str

In [ ]:
# Let's do the opposite now. Let's learn to convert string to float now.

In [50]:
a=float(a)
type(a)

float

In [54]:
x=True
type(x)

z='gang'
type(z)

str

In [55]:
# Your turn now.
y=float(x)
type(y)

v=float(z)

ValueError: could not convert string to float: 'gang'

Good job so far!

You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats. 
But very often we come across data being stored incorrectly especially while importing.

# Conditional Statements and Loops

### IF condition

In [56]:
#Example
x=1
if x>0:
    print('Hello World')

Hello World

In [57]:
#Run the exact above code with x=0
x=0
if x>0:
    print('Hello World')

IF-ELSE condition

In [58]:
x=0
if x>0:
    print('Hello World')
else:
    print('Hi World')

Hi World

In [59]:
# Greater or equal
num=35
if num>=10:
    print('Number greater than or equal 10')
else:
    print('Number less than 10')

Number greater than or equal 10

## Nested IF-ELSE condition

In [ ]:
# Write a code which can identify the largest number from 3 given numbers

In [61]:
a=50
b=75
c=100

x=101
if x<50:
    print('Number less than 50')
elif 50<x<75:
    print('Number less than 75')
elif 75<x<100:
    print('Number less than 100')
else:
    print('Big Daddy of Number')

Big Daddy of Number

In [64]:
x=10
y=15
z=20
if x>y and x>z:
    print('x is largest')
elif y>x and y>z:
    print('y is largest')
elif z>x and z>y:
    print('z is largest')
else:
    print('nothing largest')

z is largest

In [66]:
x=-8
if x>=0:
    if x>0:
        print('NO is Positive')
    else:
        print('NO is Zero')
else:
    print('NO is Negative')

NO is Negative

## Advanced IF-ELSE

### Automating the Tax Computation

>Taxable income Tax Rate
    
>Up to Rs. 2,50,000	            ***Nil***

>Rs. 2,50,001 to Rs. 5,00,000	***5%***

>Rs. 5,00,001 to Rs. 7,50,000	***10%***

>Rs. 7,50,001 to Rs. 10,00,000	***15%***

>Rs. 10,00,001 to Rs. 12,50,000	***20%***

>Rs. 12,50,001 to Rs. 15,00,000	***25%***

>Above Rs. 15,00,000	        ***30%***

In [4]:
Tax_Rate={"nil":"0-250000","5%":"250001-500000","10%":"500001-750000","15%":"750001-1000000",
          "20%":"1000001-1250000","25%":"1250001-1500000","30%":"Above 1500000"}
print(Tax_Rate)

{'nil': '0-250000', '5%': '250001-500000', '10%': '500001-750000', '15%': '750001-1000000', '20%': '1000001-1250000', '25%': '1250001-1500000', '30%': 'Above 1500000'}

In [5]:
income=int(input('Please enter income'))
tax_slabs={'slab1':0,'slab2':5,'slab3':10,'slab4':15,'slab5':20,'slab5':25,'slab6':30}
if income <=250000:
    print('No Tax')
elif 250001<= income >=500000:
    print('your tax slab is {}% and amout payble is {}'.format(tax_slabs['slab2'],(income*tax_slabs['slab2'])/100))
elif 500001<= income >=750000:
    print('your tax slab is {}% and amout payble is {}'.format(tax_slabs['slab3'],(income*tax_slabs['slab3'])/100))
elif 750001<= income >=1000000:
    print('your tax slab is {}% and amout payble is {}'.format(tax_slabs['slab4'],(income*tax_slabs['slab4'])/100))
elif 1000001<= income >=1250000:
    print('your tax slab is {}% and amout payble is {}'.format(tax_slabs['slab5'],(income*tax_slabs['slab5'])/100))
elif 1250001<= income >=1500000:
    print('your tax slab is {}% and amout payble is {}'.format(tax_slabs['slab6'],(income*tax_slabs['slab6'])/100))
elif income >=1500001:
    print('your tax slab is {}% and amout payble is {}'.format(tax_slabs['slab7'],(income*tax_slabs['slab7'])/100))
else:
    print('To check tax amount Re-run code')

Please enter income800000
your tax slab is 5% and amout payble is 40000.0

In [ ]:
Tax_excempted=250000